@import "tailwindcss";
@import "@heroui/styles";

@theme {
  /* Overrides the default Tailwind font-sans used everywhere */
  --font-sans: var(--font-lufga), ui-sans-serif, system-ui, sans-serif;
  
  /* Creates utility class 'font-helvetica' for explicit use */
  --font-helvetica: var(--font-helvetica-now), ui-sans-serif, system-ui, sans-serif;
}

/* app/globals.css */
body {
  background: linear-gradient(180deg, #D7F2FF 0%, rgba(215, 242, 255, 0) 500px), #EFF2F7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}